<div class="row">
  <div class="col-lg-4 col-md-4">
    <div class="well well-lg">
      <h2>Users</h2>
      <ul style="list-style: none;">
        <li>
          <a href="#">
            <i class="glyphicon glyphicon-user"></i> Users Emails
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-8 col-md-8">
    <div class="">
      <h2>Tweets</h2>
      <a class="btn btn-large btn-default" href="#"><i class="glyphicon glyphicon-edit"></i> New Tweet</a>
      <hr />

      <div class="well well-lg">
        <h2>By: Users Email</h2>
            <pre>
              Tweet Body
            </pre>
        <p>Tweet Created At</p>
      </div>

    </div>
  </div>
</div>
