<div class="row">
  <div class="well well-lg">
    <h1 class="text-center">
      <i class="glyphicon glyphicon-user"></i> Users Email
    </h1>
  </div>
  <h2>Your Latest Tweets:</h2>
  <div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
        <div class="well well-lg">
          <pre>
            Tweet Body
          </pre>
          <p>
            Tweet Created at
          </p>
        </div>
  </div>
</div>
