<div class="row">
  <div class="well well-lg">
    <h1 class="text-center"><i class="glyphicon glyphicon-user"></i> <%= @user.email %></h1>
  </div>
  <h2>Your Latest Tweets:</h2>
  <% @user.tweets.each do |tweet| %>
      <div class="well well-lg">
        <%= tweet.micropost %>
      </div>
  <% end %>
</div>
