<div class="row">
  <div class="col-lg-8 col-md-8 ">
    <div class="well well-lg">
      <h2>Hello <%= @user.email %></h2>
    </div>
    <div class="well well-lg">
      <h2>Your Latest Tweets:</h2>
      <p>Stuff</p>
    </div>
  </div>
</div>
